.modal {
    position: absolute;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    z-index: 3;
    top: 50px;
  }

.modal-item {
    display: flex;
    gap: 10px;
    align-items: center;

}

.modal-item input {
    width: 100%;
}